/DatabaseDesigner/.vs/Database Designer/CopilotIndices
/DatabaseDesigner/Database_Designer.Browser/bin
/DatabaseDesigner/Database_Designer.Browser/obj
/DatabaseDesigner/Database_Designer.Browser/obj
/DatabaseDesigner/Database_Designer.Photino/bin
/DatabaseDesigner/Database_Designer.Simulator/bin
/DatabaseDesigner/Database_Designer/bin
/DatabaseDesignerDLL/bin
/DatabaseDesigner/Database_Designer.Simulator/obj
/DatabaseDesignerDLL/obj
/DatabaseDesigner/Database_Designer/obj
/DatabaseDesigner/Database_Designer.Photino/obj
/DatabaseDesigner/.vs/Database Designer/FileContentIndex
DatabaseDesigner/.vs/Database Designer/DesignTimeBuild/.dtbcache.v2
DatabaseDesigner/.vs/Database Designer/v17/.suo
DatabaseDesigner/.vs/Database Designer/v17/DocumentLayout.backup.json
DatabaseDesigner/.vs/Database Designer/v17/DocumentLayout.json
/DatabaseDesignerDLL/.vs/DatabaseDesigner/CopilotIndices
/DatabaseDesignerDLL/.vs/DatabaseDesigner/DesignTimeBuild
DatabaseDesignerDLL/.vs/DatabaseDesigner/v17/DocumentLayout.json
DatabaseDesignerDLL/.vs/DatabaseDesigner/v17/.suo
DatabaseDesignerDLL/.vs/DatabaseDesigner/FileContentIndex/c9fa2dca-79ce-41bc-9375-dc169cc8c383.vsidx
/DatabaseDesignerDLL/.vs
/DatabaseDesigner/.vs
